@import '../common.scss';

.Img{
  display: flex;

  align-items: center;
  &.main1 {
    width: 80px;
    height: 80px;
    font-size: 32px;

  }
  &.main2 {
    width: 60px;
    height: 60px;
    font-size: 20px;
    position: left;
  }
  &.middle {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}