[Unit]
Description=daphne daemon

[Service]
User=root
Group=root
WorkingDirectory=/opt/capsuleFW_react/backend

Environment="DJANGO_SETTINGS_MODULE=djangoreactapi.settings"
ExecStart=/usr/local/bin/daphne -b 0.0.0.0 -p 8000 djangoreactapi.asgi:application 

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort
PrivateTmp=true

[Install]
WantedBy=multi-user.target
