$blue: #00C6EA; // 주석 선언
$gray-background: #DCEAF3; // 주석 선언
$white: #FFFFFF;
$gray-text: #666666;
$header-text: #474747;

$application_width: 479;
$application_height: 320;

$main1: (
    "width": 255px,
    "height": 255px,
    "font-size": 32px,
);
$main2: (
    "width": 155px,
    "height": 120px,
    "font-size": 20px,
);
$middle: (
    "width": 215px,
    "height": 110px,
    "font-size": 20px,
);
$small: (
    "width": 215px,
    "height": 40px,
    "font-size": 20px,
);
